/* =========================================
   RAVENLOST COLOR PALETTE
   ========================================= */

:root {
  --ravenlost-burgundy: #713d48;
  --ravenlost-purple: #80628f;
  --ravenlost-brass: #b59a62;
}


/* =========================================
   LIGHT MODE
   ========================================= */

[data-md-color-scheme="default"] {
  --md-primary-fg-color: #666666;
  --md-primary-fg-color--light: #797979;
  --md-primary-fg-color--dark: #505050;
}


/* =========================================
   DARK MODE
   ========================================= */

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #555555;
  --md-primary-fg-color--light: #686868;
  --md-primary-fg-color--dark: #424242;
}

/* Remove default padding/margin around the logo anchor link */
.md-header__button.md-logo {
    margin: 0;
    padding: 0;
}

/* Force the logo image or SVG to scale up */
.md-header__button.md-logo img, 
.md-header__button.md-logo svg {
    height: 4.8rem;  /* Default is usually 2.4rem. Increase this to your preference */
    width: auto;     /* Maintains the aspect ratio of your logo */
}
